.button {
    border: none;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
    min-height: 38px;
}

.button p {
    margin: 0;
    text-transform: uppercase;
    transition: color 0.6s ease;
    color: #4d4c4c;
}

.button:hover {
    background: #4d4c4c;
}

.button:hover p {
    color: #fff;
}
